name: Type checking with mypy

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      source_path:
        required: true
        type: string

jobs:
  typing_check:
    runs-on: ubuntu-latest
    steps:
      - name: Get backend code
        uses: actions/checkout@v4
        with:
          show-progress: true
          sparse-checkout: ${{ inputs.source_path }}
          sparse-checkout-cone-mode: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
          cache: "pip"

      - name: Install Mypy
        run: pip install mypy

      - name: Run mypy
        run: mypy --check-untyped-defs ${{ inputs.source_path }}
